body{
    overflow: hidden;
}

.container{
    box-shadow: 0 0 5px 1px gray;
    width: 1000px;
    height: 650px;
    margin: 20px auto 0;
    border-radius: 5px;
    overflow: hidden;

    .wrap{
        display: flex;
    
        .mainContent{
            width: 100%;
        }
    }
}