.chat{
    .head{
        height: 42px;
        border-bottom: 1px solid #eee;
        font-size: 20px;
        line-height: 42px;
        padding: 0 15px;
    }

    .content{
        display: flex;
    }
}