.head{
    height: 60px;
    line-height: 60px;
    padding: 0 15px;

    :global(.ant-avatar){
        cursor: pointer;
    }
}

.menu{
    :global(.ant-dropdown-menu){
        :global(.ant-dropdown-menu-item){
            padding: 5px 20px;
        }
    }
    
}