.user{
    height: 60px;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    width: 200px;

    :global(.ant-avatar){
        text-align: center;

        i{
            font-size: 18px;
            margin: 0;
        }
    }

    .name{
        margin-left: 10px;
    }

    &.collapsed{
        .name{
            // display: none;
        }
    }

    &.mini{
        height: 40px;

        :global(.ant-avatar){
            i{
                font-size: 12px;
            }
        }

        .name{
            font-size: 12px;
        }
    }
}