.user{
    height: 46px;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    width: 200px;
    overflow: hidden;
    box-sizing: content-box;

    :global(.ant-avatar){
        text-align: center;

        i{
            font-size: 18px;
            margin: 0;
        }
    }

    .name{
        margin-left: 10px;
    }

    &.mini{
        height: 32px;
        line-height: 32px;

        :global(.ant-avatar){
            i{
                font-size: 12px;
            }
        }

        .name{
            font-size: 12px;
        }
    }
}